.root {
    overflow: none;
    width: 320px;
    height: 100%;
}
.sign_container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sign_headers {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.sign_title{
    font-size: 20px;
    color: black;
    font-weight: 550;
    margin-bottom: 7px;
}
.sign_content {
    width: 80%;
    font-size: 12px;
    color: black;
}
.sign_content_child {
    font-size: 12px;
    margin-top: 15px;
}
.sign_body {
    border-top: 1px solid #DCDCDC;
    margin-top: 10px;
    overflow: auto;
    min-height: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.sign_message {
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;
}

.sign_footer {
    border-top: 1px solid #DCDCDC;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cancel_login_btn{
    margin-right: 10px;
    height: 40px;
    width: 40%;
    border: 2px solid #4169E1;
    background-color: white;
    border-radius: 30px;
    color: black;
}
.login_btn{
    height: 40px;
    width: 40%;
    border: none;
    background-color: #4169E1;
    border-radius: 30px;
    color: white;
}